<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Frameworks" version="6.10.1" targetFramework="net472" />
  <package id="Nut" version="3.4.1" targetFramework="net472" />
  <package id="System.Speech" version="8.0.0" targetFramework="net472" />
  <package id="Xam.Plugins.TextToSpeech" version="4.0.0.7" targetFramework="net472" />
</packages>